[Unit]
Description=Advertise Kubernetes Cluster

[Service]
Type=simple
Restart=always
User=root
ExecStart=/advertise

[Install]
WantedBy=multi-user.target
