[Unit]
Description=Install Kubernetes

[Service]
Type=oneshot
User=root
Group=root
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 2; done;'
ExecStart=/install-k8s.sh

[Install]
WantedBy=multi-user.target
